@charset "UTF-8";

/*초기화*/
body{margin:0;}
ul,li{list-style:none;}
p{margin:0;} /*header p 기본적으로 생기는 margin 초기화*/
button{
    background: inherit;
    border:none; 
    box-shadow:none;
    border-radius:0; 
    padding:0; 
    overflow:visible; 
    cursor:pointer}

html,body{height:100%;}

.wrap{
    display:flex;
    flex-direction:column;
    height:100%;
}

/*header*/
.header{
    height: 14vh;
    background-color:#d74630;
}
.header .headerWrap .title{
    text-align:center;
    line-height:5vh;
}

/*search*/
.search{background-color:#f1f0e5;}

.searchWrap{
    width: 80vh;
    height:5vh;
    margin:0 auto;
}

.searchWrap .searchBox {
    position:relative;
    float:right;
}

.searchWrap .searchBox #searchVal{
    height: 30px;
    width: 300px;
    border-radius: 30px;
    border: 1px solid #ccc;
    padding-left: 25px;
    padding-right: 40px;
}
/*after 가상요소는 content="" 필수이고, 이미지 넣을 때 background-size 넣어주고 , width/height 안 잡혀있으면 이것도 잡아줘야함*/
/* .searchWrap .searchBox #searchBtn::after{
    content:"";
    background: url("../img/search.png");
    background-repeat: no-repeat;
    background-size:20px;
    width:20px;
    height:20px;
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 5px;
} */
.searchWrap .searchBox #searchBtn img{
    width:20px;
    height:20px;
    position: absolute;
    right: 20px;
    top: 5px;
}
/* .searchWrap .searchBox #searchBtn img:nth-child(2) {
    opacity:0;
} */
.searchWrap .searchBox #searchBtn img.hide {
    opacity:0;
}

/*contents*/
.contents{
    display:flex;
    flex:1;
   overflow:auto;
   background-color:#fdfcf0;
}
.movieItemList {
    width:83vh;
    margin:0 auto;
    display:flex;
    flex-wrap:wrap;
    padding:0 10px;
    text-align:center;
}

.movieItemList .movieTit{
}

.movieItemList .movieItem{
    display:flex;
    flex-direction:column;
    flex:none; /*이거 모지?*/
    flex-basis:32.9%;
    /* flex-basis:33.33%; */
    height: 45vh;
    margin-top:5vh;
    margin-right:0.5vh;
    padding:0 10px;
    box-sizing:border-box;
    border:1px solid #ccc;
    background-color:#e4e2cf;
}
.movieItemList .movieItem:nth-child(3n){
    margin-right:0;
}

.movieItem .movieImg{
    height:75%;
}

.movieItem .movieYear{
    line-height: 5vh;
    font-weight: bold;
    color: #6c6b6b;
}